@font-face{
    font-family: "Pirata";
    src: url("../fonts/PirataOne-Regular.ttf") format('truetype');
}

@font-face{
    font-family: "Covered";
    src: url("../fonts/CoveredByYourGrace.ttf") format('truetype'); 
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: repeating-linear-gradient(45deg, #ffb706, #ffb706 30px, #fff27b 30px, #fff27b 60px);
    background-attachment: fixed;
}

body h1 {
    text-decoration: underline;
}

header {
    font-size: 500%;
    font-family: Pirata;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    color: #ffffff;
    text-align: center;
}

.navCustom {
    background-color: #221a3d !important;
    font-size: 150%;
}

.navCustom a {
    font-family: Covered;
    text-decoration: none;
}

.navCustom a:hover {
    color: white;
    transition: 0.4s;
    cursor: pointer;
}

.section {
    font-size: 150%;
}

.about {
    background-color: black;
}

.education {
    background-color: black;
}

.experience {
    background-color: black;
}

.skills {
    background-color: black;
}